// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here
$custom-colors: (
	"primary":    $green-500,
	"secondary":  $orange-600,
	"success":    $success,
	"info":       $white,
	"warning":    $warning,
	"danger":     $danger,
	"light":      $light,
	"dark":       $dark,
	"cardbg": 	#dcbfa6,
	"programbg": #e9f4ef,
	"foodbg":	#74acdd
);



$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

body {
	font-family: "Open Sans", sans-serif;
}

.bg-dyr1 {
	background-image: url("../images/dyr1.jpg");
	min-height: 65vh;
	background-size: cover;
	background-position: center;
}

.bg-dyr2 {
	background-image: url("../images/dyr2.jpg");
	min-height: 65vh;
	background-size: cover;
	background-position: center;
}

.bg-dyr3 {
	background-image: url("../images/dyr3.jpg");
	min-height: 65vh;
	background-size: cover;
	background-position: center;
}

.bg-dyr4 {
	background-image: url("../images/dyr4.jpg");
	min-height: 65vh;
	background-size: cover;
	background-position: center;
}

.bg-dyr5 {
	background-image: url("../images/dyr5.jpg");
	min-height: 65vh;
	background-size: cover;
	background-position: center;
}

.infotekst {
	font-size: 13px;
	font-family: Bahnschrift, Arial;
}

.ticketknap {
	font-size: 15px;
	font-family: Bahnschrift, Arial;
}

h1 {
	font-family: Bahnschrift, Arial;
}

.form-control {
	border-radius: 0;
}